.DS_Store
.env
*.log

backend/target/
backend/uploads/

frontend/node_modules/
frontend/dist/
frontend/.vite/

.idea/
.vscode/
*.iml

database/backups/*
!database/backups/.gitkeep

frontend/build/
frontend/artifacts/

backend/.m2/
